// Variables
// --------------------------

$fa-font-path:        "../fonts" !default;
$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       fa !default;
$fa-version:          "4.6.3" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;

$fa-png-sizes: 2x 32 4, 3x 48 8, 4x 64 16, 5x 80 32;
$fa-png-path: "../assests/images/fa/";
$fa-png-var-list:
  "500px",
  "adjust",
  "adn",
  "align-center",
  "align-justify",
  "align-left",
  "align-right",
  "amazon",
  "ambulance",
  "american-sign-language-interpreting",
  "anchor",
  "android",
  "angellist",
  "angle-double-down",
  "angle-double-left",
  "angle-double-right",
  "angle-double-up",
  "angle-down",
  "angle-left",
  "angle-right",
  "angle-up",
  "apple",
  "archive",
  "area-chart",
  "arrow-circle-down",
  "arrow-circle-left",
  "arrow-circle-o-down",
  "arrow-circle-o-left",
  "arrow-circle-o-right",
  "arrow-circle-o-up",
  "arrow-circle-right",
  "arrow-circle-up",
  "arrow-down",
  "arrow-left",
  "arrow-right",
  "arrow-up",
  "arrows",
  "arrows-alt",
  "arrows-h",
  "arrows-v",
  "asl-interpreting",
  "assistive-listening-systems",
  "asterisk",
  "at",
  "audio-description",
  "automobile",
  "backward",
  "balance-scale",
  "ban",
  "bank",
  "bar-chart",
  "bar-chart-o",
  "barcode",
  "bars",
  "battery-0",
  "battery-1",
  "battery-2",
  "battery-3",
  "battery-4",
  "battery-empty",
  "battery-full",
  "battery-half",
  "battery-quarter",
  "battery-three-quarters",
  "bed",
  "beer",
  "behance",
  "behance-square",
  "bell",
  "bell-o",
  "bell-slash",
  "bell-slash-o",
  "bicycle",
  "binoculars",
  "birthday-cake",
  "bitbucket",
  "bitbucket-square",
  "bitcoin",
  "black-tie",
  "blind",
  "bluetooth",
  "bluetooth-b",
  "bold",
  "bolt",
  "bomb",
  "book",
  "bookmark",
  "bookmark-o",
  "braille",
  "briefcase",
  "btc",
  "bug",
  "building",
  "building-o",
  "bullhorn",
  "bullseye",
  "bus",
  "buysellads",
  "cab",
  "calculator",
  "calendar",
  "calendar-check-o",
  "calendar-minus-o",
  "calendar-o",
  "calendar-plus-o",
  "calendar-times-o",
  "camera",
  "camera-retro",
  "car",
  "caret-down",
  "caret-left",
  "caret-right",
  "caret-square-o-down",
  "caret-square-o-left",
  "caret-square-o-right",
  "caret-square-o-up",
  "caret-up",
  "cart-arrow-down",
  "cart-plus",
  "cc",
  "cc-amex",
  "cc-diners-club",
  "cc-discover",
  "cc-jcb",
  "cc-mastercard",
  "cc-paypal",
  "cc-stripe",
  "cc-visa",
  "certificate",
  "chain",
  "chain-broken",
  "check",
  "check-circle",
  "check-circle-o",
  "check-square",
  "check-square-o",
  "chevron-circle-down",
  "chevron-circle-left",
  "chevron-circle-right",
  "chevron-circle-up",
  "chevron-down",
  "chevron-left",
  "chevron-right",
  "chevron-up",
  "child",
  "chrome",
  "circle",
  "circle-o",
  "circle-o-notch",
  "circle-thin",
  "clipboard",
  "clock-o",
  "clone",
  "close",
  "cloud",
  "cloud-download",
  "cloud-upload",
  "cny",
  "code",
  "code-fork",
  "codepen",
  "codiepie",
  "coffee",
  "cog",
  "cogs",
  "columns",
  "comment",
  "comment-o",
  "commenting",
  "commenting-o",
  "comments",
  "comments-o",
  "compass",
  "compress",
  "connectdevelop",
  "contao",
  "copy",
  "copyright",
  "creative-commons",
  "credit-card",
  "credit-card-alt",
  "crop",
  "crosshairs",
  "css3",
  "cube",
  "cubes",
  "cut",
  "cutlery",
  "dashboard",
  "dashcube",
  "database",
  "deaf",
  "deafness",
  "dedent",
  "delicious",
  "desktop",
  "deviantart",
  "diamond",
  "digg",
  "dollar",
  "dot-circle-o",
  "download",
  "dribbble",
  "dropbox",
  "drupal",
  "edge",
  "edit",
  "eject",
  "ellipsis-h",
  "ellipsis-v",
  "empire",
  "envelope",
  "envelope-o",
  "envelope-square",
  "envira",
  "eraser",
  "eur",
  "euro",
  "exchange",
  "exclamation",
  "exclamation-circle",
  "exclamation-triangle",
  "expand",
  "expeditedssl",
  "external-link",
  "external-link-square",
  "eye",
  "eye-slash",
  "eyedropper",
  "fa",
  "facebook",
  "facebook-f",
  "facebook-official",
  "facebook-square",
  "fast-backward",
  "fast-forward",
  "fax",
  "feed",
  "female",
  "fighter-jet",
  "file",
  "file-archive-o",
  "file-audio-o",
  "file-code-o",
  "file-excel-o",
  "file-image-o",
  "file-movie-o",
  "file-o",
  "file-pdf-o",
  "file-photo-o",
  "file-picture-o",
  "file-powerpoint-o",
  "file-sound-o",
  "file-text",
  "file-text-o",
  "file-video-o",
  "file-word-o",
  "file-zip-o",
  "files-o",
  "film",
  "filter",
  "fire",
  "fire-extinguisher",
  "firefox",
  "first-order",
  "flag",
  "flag-checkered",
  "flag-o",
  "flash",
  "flask",
  "flickr",
  "floppy-o",
  "folder",
  "folder-o",
  "folder-open",
  "folder-open-o",
  "font",
  "font-awesome",
  "fonticons",
  "fort-awesome",
  "forumbee",
  "forward",
  "foursquare",
  "frown-o",
  "futbol-o",
  "gamepad",
  "gavel",
  "gbp",
  "ge",
  "gear",
  "gears",
  "genderless",
  "get-pocket",
  "gg",
  "gg-circle",
  "gift",
  "git",
  "git-square",
  "github",
  "github-alt",
  "github-square",
  "gitlab",
  "gittip",
  "glass",
  "glide",
  "glide-g",
  "globe",
  "google",
  "google-plus",
  "google-plus-circle",
  "google-plus-official",
  "google-plus-square",
  "google-wallet",
  "graduation-cap",
  "gratipay",
  "group",
  "h-square",
  "hacker-news",
  "hand-grab-o",
  "hand-lizard-o",
  "hand-o-down",
  "hand-o-left",
  "hand-o-right",
  "hand-o-up",
  "hand-paper-o",
  "hand-peace-o",
  "hand-pointer-o",
  "hand-rock-o",
  "hand-scissors-o",
  "hand-spock-o",
  "hand-stop-o",
  "hard-of-hearing",
  "hashtag",
  "hdd-o",
  "header",
  "headphones",
  "heart",
  "heart-o",
  "heartbeat",
  "history",
  "home",
  "hospital-o",
  "hotel",
  "hourglass",
  "hourglass-1",
  "hourglass-2",
  "hourglass-3",
  "hourglass-end",
  "hourglass-half",
  "hourglass-o",
  "hourglass-start",
  "houzz",
  "html5",
  "i-cursor",
  "ils",
  "image",
  "inbox",
  "indent",
  "industry",
  "info",
  "info-circle",
  "inr",
  "instagram",
  "institution",
  "internet-explorer",
  "intersex",
  "ioxhost",
  "italic",
  "joomla",
  "jpy",
  "jsfiddle",
  "key",
  "keyboard-o",
  "krw",
  "language",
  "laptop",
  "lastfm",
  "lastfm-square",
  "leaf",
  "leanpub",
  "legal",
  "lemon-o",
  "level-down",
  "level-up",
  "life-bouy",
  "life-buoy",
  "life-ring",
  "life-saver",
  "lightbulb-o",
  "line-chart",
  "link",
  "linkedin",
  "linkedin-square",
  "linux",
  "list",
  "list-alt",
  "list-ol",
  "list-ul",
  "location-arrow",
  "lock",
  "long-arrow-down",
  "long-arrow-left",
  "long-arrow-right",
  "long-arrow-up",
  "low-vision",
  "magic",
  "magnet",
  "mail-forward",
  "mail-reply",
  "mail-reply-all",
  "male",
  "map",
  "map-marker",
  "map-o",
  "map-pin",
  "map-signs",
  "mars",
  "mars-double",
  "mars-stroke",
  "mars-stroke-h",
  "mars-stroke-v",
  "maxcdn",
  "meanpath",
  "medium",
  "medkit",
  "meh-o",
  "mercury",
  "microphone",
  "microphone-slash",
  "minus",
  "minus-circle",
  "minus-square",
  "minus-square-o",
  "mixcloud",
  "mobile",
  "mobile-phone",
  "modx",
  "money",
  "moon-o",
  "mortar-board",
  "motorcycle",
  "mouse-pointer",
  "music",
  "navicon",
  "neuter",
  "newspaper-o",
  "object-group",
  "object-ungroup",
  "odnoklassniki",
  "odnoklassniki-square",
  "opencart",
  "openid",
  "opera",
  "optin-monster",
  "outdent",
  "pagelines",
  "paint-brush",
  "paper-plane",
  "paper-plane-o",
  "paperclip",
  "paragraph",
  "paste",
  "pause",
  "pause-circle",
  "pause-circle-o",
  "paw",
  "paypal",
  "pencil",
  "pencil-square",
  "pencil-square-o",
  "percent",
  "phone",
  "phone-square",
  "photo",
  "picture-o",
  "pie-chart",
  "pied-piper",
  "pied-piper-alt",
  "pied-piper-pp",
  "pinterest",
  "pinterest-p",
  "pinterest-square",
  "plane",
  "play",
  "play-circle",
  "play-circle-o",
  "plug",
  "plus",
  "plus-circle",
  "plus-square",
  "plus-square-o",
  "power-off",
  "print",
  "product-hunt",
  "puzzle-piece",
  "qq",
  "qrcode",
  "question",
  "question-circle",
  "question-circle-o",
  "quote-left",
  "quote-right",
  "ra",
  "random",
  "rebel",
  "recycle",
  "reddit",
  "reddit-alien",
  "reddit-square",
  "refresh",
  "registered",
  "remove",
  "renren",
  "reorder",
  "repeat",
  "reply",
  "reply-all",
  "resistance",
  "retweet",
  "rmb",
  "road",
  "rocket",
  "rotate-left",
  "rotate-right",
  "rouble",
  "rss",
  "rss-square",
  "rub",
  "ruble",
  "rupee",
  "safari",
  "save",
  "scissors",
  "scribd",
  "search",
  "search-minus",
  "search-plus",
  "sellsy",
  "send",
  "send-o",
  "server",
  "share",
  "share-alt",
  "share-alt-square",
  "share-square",
  "share-square-o",
  "shekel",
  "sheqel",
  "shield",
  "ship",
  "shirtsinbulk",
  "shopping-bag",
  "shopping-basket",
  "shopping-cart",
  "sign-in",
  "sign-language",
  "sign-out",
  "signal",
  "signing",
  "simplybuilt",
  "sitemap",
  "skyatlas",
  "skype",
  "slack",
  "sliders",
  "slideshare",
  "smile-o",
  "snapchat",
  "snapchat-ghost",
  "snapchat-square",
  "soccer-ball-o",
  "sort",
  "sort-alpha-asc",
  "sort-alpha-desc",
  "sort-amount-asc",
  "sort-amount-desc",
  "sort-asc",
  "sort-desc",
  "sort-down",
  "sort-numeric-asc",
  "sort-numeric-desc",
  "sort-up",
  "soundcloud",
  "space-shuttle",
  "spinner",
  "spoon",
  "spotify",
  "square",
  "square-o",
  "stack-exchange",
  "stack-overflow",
  "star",
  "star-half",
  "star-half-empty",
  "star-half-full",
  "star-half-o",
  "star-o",
  "steam",
  "steam-square",
  "step-backward",
  "step-forward",
  "stethoscope",
  "sticky-note",
  "sticky-note-o",
  "stop",
  "stop-circle",
  "stop-circle-o",
  "street-view",
  "strikethrough",
  "stumbleupon",
  "stumbleupon-circle",
  "subscript",
  "subway",
  "suitcase",
  "sun-o",
  "superscript",
  "support",
  "table",
  "tablet",
  "tachometer",
  "tag",
  "tags",
  "tasks",
  "taxi",
  "television",
  "tencent-weibo",
  "terminal",
  "text-height",
  "text-width",
  "th",
  "th-large",
  "th-list",
  "themeisle",
  "thumb-tack",
  "thumbs-down",
  "thumbs-o-down",
  "thumbs-o-up",
  "thumbs-up",
  "ticket",
  "times",
  "times-circle",
  "times-circle-o",
  "tint",
  "toggle-down",
  "toggle-left",
  "toggle-off",
  "toggle-on",
  "toggle-right",
  "toggle-up",
  "trademark",
  "train",
  "transgender",
  "transgender-alt",
  "trash",
  "trash-o",
  "tree",
  "trello",
  "tripadvisor",
  "trophy",
  "truck",
  "try",
  "tty",
  "tumblr",
  "tumblr-square",
  "turkish-lira",
  "tv",
  "twitch",
  "twitter",
  "twitter-square",
  "umbrella",
  "underline",
  "undo",
  "universal-access",
  "university",
  "unlink",
  "unlock",
  "unlock-alt",
  "unsorted",
  "upload",
  "usb",
  "usd",
  "user",
  "user-md",
  "user-plus",
  "user-secret",
  "user-times",
  "users",
  "venus",
  "venus-double",
  "venus-mars",
  "viacoin",
  "viadeo",
  "viadeo-square",
  "video-camera",
  "vimeo",
  "vimeo-square",
  "vine",
  "vk",
  "volume-control-phone",
  "volume-down",
  "volume-off",
  "volume-up",
  "warning",
  "wechat",
  "weibo",
  "weixin",
  "whatsapp",
  "wheelchair",
  "wheelchair-alt",
  "wifi",
  "wikipedia-w",
  "windows",
  "won",
  "wordpress",
  "wpbeginner",
  "wpforms",
  "wrench",
  "xing",
  "xing-square",
  "y-combinator",
  "y-combinator-square",
  "yahoo",
  "yc",
  "yc-square",
  "yelp",
  "yen",
  "yoast",
  "youtube",
  "youtube-play",
  "youtube-square";

$fa-var-500px: "images/fa/500px.png";
$fa-var-adjust: "images/fa/adjust.png";
$fa-var-adn: "images/fa/adn.png";
$fa-var-align-center: "images/fa/align-center.png";
$fa-var-align-justify: "images/fa/align-justify.png";
$fa-var-align-left: "images/fa/align-left.png";
$fa-var-align-right: "images/fa/align-right.png";
$fa-var-amazon: "images/fa/amazon.png";
$fa-var-ambulance: "images/fa/ambulance.png";
$fa-var-american-sign-language-interpreting: "images/fa/american-sign-language-interpreting.png";
$fa-var-anchor: "images/fa/anchor.png";
$fa-var-android: "images/fa/android.png";
$fa-var-angellist: "images/fa/angellist.png";
$fa-var-angle-double-down: "images/fa/angle-double-down.png";
$fa-var-angle-double-left: "images/fa/angle-double-left.png";
$fa-var-angle-double-right: "images/fa/angle-double-right.png";
$fa-var-angle-double-up: "images/fa/angle-double-up.png";
$fa-var-angle-down: "images/fa/angle-down.png";
$fa-var-angle-left: "images/fa/angle-left.png";
$fa-var-angle-right: "images/fa/angle-right.png";
$fa-var-angle-up: "images/fa/angle-up.png";
$fa-var-apple: "images/fa/apple.png";
$fa-var-archive: "images/fa/archive.png";
$fa-var-area-chart: "images/fa/area-chart.png";
$fa-var-arrow-circle-down: "images/fa/arrow-circle-down.png";
$fa-var-arrow-circle-left: "images/fa/arrow-circle-left.png";
$fa-var-arrow-circle-o-down: "images/fa/arrow-circle-o-down.png";
$fa-var-arrow-circle-o-left: "images/fa/arrow-circle-o-left.png";
$fa-var-arrow-circle-o-right: "images/fa/arrow-circle-o-right.png";
$fa-var-arrow-circle-o-up: "images/fa/arrow-circle-o-up.png";
$fa-var-arrow-circle-right: "images/fa/arrow-circle-right.png";
$fa-var-arrow-circle-up: "images/fa/arrow-circle-up.png";
$fa-var-arrow-down: "images/fa/arrow-down.png";
$fa-var-arrow-left: "images/fa/arrow-left.png";
$fa-var-arrow-right: "images/fa/arrow-right.png";
$fa-var-arrow-up: "images/fa/arrow-up.png";
$fa-var-arrows: "images/fa/arrows.png";
$fa-var-arrows-alt: "images/fa/arrows-alt.png";
$fa-var-arrows-h: "images/fa/arrows-h.png";
$fa-var-arrows-v: "images/fa/arrows-v.png";
$fa-var-asl-interpreting: "images/fa/asl-interpreting.png";
$fa-var-assistive-listening-systems: "images/fa/assistive-listening-systems.png";
$fa-var-asterisk: "images/fa/asterisk.png";
$fa-var-at: "images/fa/at.png";
$fa-var-audio-description: "images/fa/audio-description.png";
$fa-var-automobile: "images/fa/automobile.png";
$fa-var-backward: "images/fa/backward.png";
$fa-var-balance-scale: "images/fa/balance-scale.png";
$fa-var-ban: "images/fa/ban.png";
$fa-var-bank: "images/fa/bank.png";
$fa-var-bar-chart: "images/fa/bar-chart.png";
$fa-var-bar-chart-o: "images/fa/bar-chart-o.png";
$fa-var-barcode: "images/fa/barcode.png";
$fa-var-bars: "images/fa/bars.png";
$fa-var-battery-0: "images/fa/battery-0.png";
$fa-var-battery-1: "images/fa/battery-1.png";
$fa-var-battery-2: "images/fa/battery-2.png";
$fa-var-battery-3: "images/fa/battery-3.png";
$fa-var-battery-4: "images/fa/battery-4.png";
$fa-var-battery-empty: "images/fa/battery-empty.png";
$fa-var-battery-full: "images/fa/battery-full.png";
$fa-var-battery-half: "images/fa/battery-half.png";
$fa-var-battery-quarter: "images/fa/battery-quarter.png";
$fa-var-battery-three-quarters: "images/fa/battery-three-quarters.png";
$fa-var-bed: "images/fa/bed.png";
$fa-var-beer: "images/fa/beer.png";
$fa-var-behance: "images/fa/behance.png";
$fa-var-behance-square: "images/fa/behance-square.png";
$fa-var-bell: "images/fa/bell.png";
$fa-var-bell-o: "images/fa/bell-o.png";
$fa-var-bell-slash: "images/fa/bell-slash.png";
$fa-var-bell-slash-o: "images/fa/bell-slash-o.png";
$fa-var-bicycle: "images/fa/bicycle.png";
$fa-var-binoculars: "images/fa/binoculars.png";
$fa-var-birthday-cake: "images/fa/birthday-cake.png";
$fa-var-bitbucket: "images/fa/bitbucket.png";
$fa-var-bitbucket-square: "images/fa/bitbucket-square.png";
$fa-var-bitcoin: "images/fa/bitcoin.png";
$fa-var-black-tie: "images/fa/black-tie.png";
$fa-var-blind: "images/fa/blind.png";
$fa-var-bluetooth: "images/fa/bluetooth.png";
$fa-var-bluetooth-b: "images/fa/bluetooth-b.png";
$fa-var-bold: "images/fa/bold.png";
$fa-var-bolt: "images/fa/bolt.png";
$fa-var-bomb: "images/fa/bomb.png";
$fa-var-book: "images/fa/book.png";
$fa-var-bookmark: "images/fa/bookmark.png";
$fa-var-bookmark-o: "images/fa/bookmark-o.png";
$fa-var-braille: "images/fa/braille.png";
$fa-var-briefcase: "images/fa/briefcase.png";
$fa-var-btc: "images/fa/btc.png";
$fa-var-bug: "images/fa/bug.png";
$fa-var-building: "images/fa/building.png";
$fa-var-building-o: "images/fa/building-o.png";
$fa-var-bullhorn: "images/fa/bullhorn.png";
$fa-var-bullseye: "images/fa/bullseye.png";
$fa-var-bus: "images/fa/bus.png";
$fa-var-buysellads: "images/fa/buysellads.png";
$fa-var-cab: "images/fa/cab.png";
$fa-var-calculator: "images/fa/calculator.png";
$fa-var-calendar: "images/fa/calendar.png";
$fa-var-calendar-check-o: "images/fa/calendar-check-o.png";
$fa-var-calendar-minus-o: "images/fa/calendar-minus-o.png";
$fa-var-calendar-o: "images/fa/calendar-o.png";
$fa-var-calendar-plus-o: "images/fa/calendar-plus-o.png";
$fa-var-calendar-times-o: "images/fa/calendar-times-o.png";
$fa-var-camera: "images/fa/camera.png";
$fa-var-camera-retro: "images/fa/camera-retro.png";
$fa-var-car: "images/fa/car.png";
$fa-var-caret-down: "images/fa/caret-down.png";
$fa-var-caret-left: "images/fa/caret-left.png";
$fa-var-caret-right: "images/fa/caret-right.png";
$fa-var-caret-square-o-down: "images/fa/caret-square-o-down.png";
$fa-var-caret-square-o-left: "images/fa/caret-square-o-left.png";
$fa-var-caret-square-o-right: "images/fa/caret-square-o-right.png";
$fa-var-caret-square-o-up: "images/fa/caret-square-o-up.png";
$fa-var-caret-up: "images/fa/caret-up.png";
$fa-var-cart-arrow-down: "images/fa/cart-arrow-down.png";
$fa-var-cart-plus: "images/fa/cart-plus.png";
$fa-var-cc: "images/fa/cc.png";
$fa-var-cc-amex: "images/fa/cc-amex.png";
$fa-var-cc-diners-club: "images/fa/cc-diners-club.png";
$fa-var-cc-discover: "images/fa/cc-discover.png";
$fa-var-cc-jcb: "images/fa/cc-jcb.png";
$fa-var-cc-mastercard: "images/fa/cc-mastercard.png";
$fa-var-cc-paypal: "images/fa/cc-paypal.png";
$fa-var-cc-stripe: "images/fa/cc-stripe.png";
$fa-var-cc-visa: "images/fa/cc-visa.png";
$fa-var-certificate: "images/fa/certificate.png";
$fa-var-chain: "images/fa/chain.png";
$fa-var-chain-broken: "images/fa/chain-broken.png";
$fa-var-check: "images/fa/check.png";
$fa-var-check-circle: "images/fa/check-circle.png";
$fa-var-check-circle-o: "images/fa/check-circle-o.png";
$fa-var-check-square: "images/fa/check-square.png";
$fa-var-check-square-o: "images/fa/check-square-o.png";
$fa-var-chevron-circle-down: "images/fa/chevron-circle-down.png";
$fa-var-chevron-circle-left: "images/fa/chevron-circle-left.png";
$fa-var-chevron-circle-right: "images/fa/chevron-circle-right.png";
$fa-var-chevron-circle-up: "images/fa/chevron-circle-up.png";
$fa-var-chevron-down: "images/fa/chevron-down.png";
$fa-var-chevron-left: "images/fa/chevron-left.png";
$fa-var-chevron-right: "images/fa/chevron-right.png";
$fa-var-chevron-up: "images/fa/chevron-up.png";
$fa-var-child: "images/fa/child.png";
$fa-var-chrome: "images/fa/chrome.png";
$fa-var-circle: "images/fa/circle.png";
$fa-var-circle-o: "images/fa/circle-o.png";
$fa-var-circle-o-notch: "images/fa/circle-o-notch.png";
$fa-var-circle-thin: "images/fa/circle-thin.png";
$fa-var-clipboard: "images/fa/clipboard.png";
$fa-var-clock-o: "images/fa/clock-o.png";
$fa-var-clone: "images/fa/clone.png";
$fa-var-close: "images/fa/close.png";
$fa-var-cloud: "images/fa/cloud.png";
$fa-var-cloud-download: "images/fa/cloud-download.png";
$fa-var-cloud-upload: "images/fa/cloud-upload.png";
$fa-var-cny: "images/fa/cny.png";
$fa-var-code: "images/fa/code.png";
$fa-var-code-fork: "images/fa/code-fork.png";
$fa-var-codepen: "images/fa/codepen.png";
$fa-var-codiepie: "images/fa/codiepie.png";
$fa-var-coffee: "images/fa/coffee.png";
$fa-var-cog: "images/fa/cog.png";
$fa-var-cogs: "images/fa/cogs.png";
$fa-var-columns: "images/fa/columns.png";
$fa-var-comment: "images/fa/comment.png";
$fa-var-comment-o: "images/fa/comment-o.png";
$fa-var-commenting: "images/fa/commenting.png";
$fa-var-commenting-o: "images/fa/commenting-o.png";
$fa-var-comments: "images/fa/comments.png";
$fa-var-comments-o: "images/fa/comments-o.png";
$fa-var-compass: "images/fa/compass.png";
$fa-var-compress: "images/fa/compress.png";
$fa-var-connectdevelop: "images/fa/connectdevelop.png";
$fa-var-contao: "images/fa/contao.png";
$fa-var-copy: "images/fa/copy.png";
$fa-var-copyright: "images/fa/copyright.png";
$fa-var-creative-commons: "images/fa/creative-commons.png";
$fa-var-credit-card: "images/fa/credit-card.png";
$fa-var-credit-card-alt: "images/fa/credit-card-alt.png";
$fa-var-crop: "images/fa/crop.png";
$fa-var-crosshairs: "images/fa/crosshairs.png";
$fa-var-css3: "images/fa/css3.png";
$fa-var-cube: "images/fa/cube.png";
$fa-var-cubes: "images/fa/cubes.png";
$fa-var-cut: "images/fa/cut.png";
$fa-var-cutlery: "images/fa/cutlery.png";
$fa-var-dashboard: "images/fa/dashboard.png";
$fa-var-dashcube: "images/fa/dashcube.png";
$fa-var-database: "images/fa/database.png";
$fa-var-deaf: "images/fa/deaf.png";
$fa-var-deafness: "images/fa/deafness.png";
$fa-var-dedent: "images/fa/dedent.png";
$fa-var-delicious: "images/fa/delicious.png";
$fa-var-desktop: "images/fa/desktop.png";
$fa-var-deviantart: "images/fa/deviantart.png";
$fa-var-diamond: "images/fa/diamond.png";
$fa-var-digg: "images/fa/digg.png";
$fa-var-dollar: "images/fa/dollar.png";
$fa-var-dot-circle-o: "images/fa/dot-circle-o.png";
$fa-var-download: "images/fa/download.png";
$fa-var-dribbble: "images/fa/dribbble.png";
$fa-var-dropbox: "images/fa/dropbox.png";
$fa-var-drupal: "images/fa/drupal.png";
$fa-var-edge: "images/fa/edge.png";
$fa-var-edit: "images/fa/edit.png";
$fa-var-eject: "images/fa/eject.png";
$fa-var-ellipsis-h: "images/fa/ellipsis-h.png";
$fa-var-ellipsis-v: "images/fa/ellipsis-v.png";
$fa-var-empire: "images/fa/empire.png";
$fa-var-envelope: "images/fa/envelope.png";
$fa-var-envelope-o: "images/fa/envelope-o.png";
$fa-var-envelope-square: "images/fa/envelope-square.png";
$fa-var-envira: "images/fa/envira.png";
$fa-var-eraser: "images/fa/eraser.png";
$fa-var-eur: "images/fa/eur.png";
$fa-var-euro: "images/fa/euro.png";
$fa-var-exchange: "images/fa/exchange.png";
$fa-var-exclamation: "images/fa/exclamation.png";
$fa-var-exclamation-circle: "images/fa/exclamation-circle.png";
$fa-var-exclamation-triangle: "images/fa/exclamation-triangle.png";
$fa-var-expand: "images/fa/expand.png";
$fa-var-expeditedssl: "images/fa/expeditedssl.png";
$fa-var-external-link: "images/fa/external-link.png";
$fa-var-external-link-square: "images/fa/external-link-square.png";
$fa-var-eye: "images/fa/eye.png";
$fa-var-eye-slash: "images/fa/eye-slash.png";
$fa-var-eyedropper: "images/fa/eyedropper.png";
$fa-var-fa: "images/fa/fa.png";
$fa-var-facebook: "images/fa/facebook.png";
$fa-var-facebook-f: "images/fa/facebook-f.png";
$fa-var-facebook-official: "images/fa/facebook-official.png";
$fa-var-facebook-square: "images/fa/facebook-square.png";
$fa-var-fast-backward: "images/fa/fast-backward.png";
$fa-var-fast-forward: "images/fa/fast-forward.png";
$fa-var-fax: "images/fa/fax.png";
$fa-var-feed: "images/fa/feed.png";
$fa-var-female: "images/fa/female.png";
$fa-var-fighter-jet: "images/fa/fighter-jet.png";
$fa-var-file: "images/fa/file.png";
$fa-var-file-archive-o: "images/fa/file-archive-o.png";
$fa-var-file-audio-o: "images/fa/file-audio-o.png";
$fa-var-file-code-o: "images/fa/file-code-o.png";
$fa-var-file-excel-o: "images/fa/file-excel-o.png";
$fa-var-file-image-o: "images/fa/file-image-o.png";
$fa-var-file-movie-o: "images/fa/file-movie-o.png";
$fa-var-file-o: "images/fa/file-o.png";
$fa-var-file-pdf-o: "images/fa/file-pdf-o.png";
$fa-var-file-photo-o: "images/fa/file-photo-o.png";
$fa-var-file-picture-o: "images/fa/file-picture-o.png";
$fa-var-file-powerpoint-o: "images/fa/file-powerpoint-o.png";
$fa-var-file-sound-o: "images/fa/file-sound-o.png";
$fa-var-file-text: "images/fa/file-text.png";
$fa-var-file-text-o: "images/fa/file-text-o.png";
$fa-var-file-video-o: "images/fa/file-video-o.png";
$fa-var-file-word-o: "images/fa/file-word-o.png";
$fa-var-file-zip-o: "images/fa/file-zip-o.png";
$fa-var-files-o: "images/fa/files-o.png";
$fa-var-film: "images/fa/film.png";
$fa-var-filter: "images/fa/filter.png";
$fa-var-fire: "images/fa/fire.png";
$fa-var-fire-extinguisher: "images/fa/fire-extinguisher.png";
$fa-var-firefox: "images/fa/firefox.png";
$fa-var-first-order: "images/fa/first-order.png";
$fa-var-flag: "images/fa/flag.png";
$fa-var-flag-checkered: "images/fa/flag-checkered.png";
$fa-var-flag-o: "images/fa/flag-o.png";
$fa-var-flash: "images/fa/flash.png";
$fa-var-flask: "images/fa/flask.png";
$fa-var-flickr: "images/fa/flickr.png";
$fa-var-floppy-o: "images/fa/floppy-o.png";
$fa-var-folder: "images/fa/folder.png";
$fa-var-folder-o: "images/fa/folder-o.png";
$fa-var-folder-open: "images/fa/folder-open.png";
$fa-var-folder-open-o: "images/fa/folder-open-o.png";
$fa-var-font: "images/fa/font.png";
$fa-var-font-awesome: "images/fa/font-awesome.png";
$fa-var-fonticons: "images/fa/fonticons.png";
$fa-var-fort-awesome: "images/fa/fort-awesome.png";
$fa-var-forumbee: "images/fa/forumbee.png";
$fa-var-forward: "images/fa/forward.png";
$fa-var-foursquare: "images/fa/foursquare.png";
$fa-var-frown-o: "images/fa/frown-o.png";
$fa-var-futbol-o: "images/fa/futbol-o.png";
$fa-var-gamepad: "images/fa/gamepad.png";
$fa-var-gavel: "images/fa/gavel.png";
$fa-var-gbp: "images/fa/gbp.png";
$fa-var-ge: "images/fa/ge.png";
$fa-var-gear: "images/fa/gear.png";
$fa-var-gears: "images/fa/gears.png";
$fa-var-genderless: "images/fa/genderless.png";
$fa-var-get-pocket: "images/fa/get-pocket.png";
$fa-var-gg: "images/fa/gg.png";
$fa-var-gg-circle: "images/fa/gg-circle.png";
$fa-var-gift: "images/fa/gift.png";
$fa-var-git: "images/fa/git.png";
$fa-var-git-square: "images/fa/git-square.png";
$fa-var-github: "images/fa/github.png";
$fa-var-github-alt: "images/fa/github-alt.png";
$fa-var-github-square: "images/fa/github-square.png";
$fa-var-gitlab: "images/fa/gitlab.png";
$fa-var-gittip: "images/fa/gittip.png";
$fa-var-glass: "images/fa/glass.png";
$fa-var-glide: "images/fa/glide.png";
$fa-var-glide-g: "images/fa/glide-g.png";
$fa-var-globe: "images/fa/globe.png";
$fa-var-google: "images/fa/google.png";
$fa-var-google-plus: "images/fa/google-plus.png";
$fa-var-google-plus-circle: "images/fa/google-plus-circle.png";
$fa-var-google-plus-official: "images/fa/google-plus-official.png";
$fa-var-google-plus-square: "images/fa/google-plus-square.png";
$fa-var-google-wallet: "images/fa/google-wallet.png";
$fa-var-graduation-cap: "images/fa/graduation-cap.png";
$fa-var-gratipay: "images/fa/gratipay.png";
$fa-var-group: "images/fa/group.png";
$fa-var-h-square: "images/fa/h-square.png";
$fa-var-hacker-news: "images/fa/hacker-news.png";
$fa-var-hand-grab-o: "images/fa/hand-grab-o.png";
$fa-var-hand-lizard-o: "images/fa/hand-lizard-o.png";
$fa-var-hand-o-down: "images/fa/hand-o-down.png";
$fa-var-hand-o-left: "images/fa/hand-o-left.png";
$fa-var-hand-o-right: "images/fa/hand-o-right.png";
$fa-var-hand-o-up: "images/fa/hand-o-up.png";
$fa-var-hand-paper-o: "images/fa/hand-paper-o.png";
$fa-var-hand-peace-o: "images/fa/hand-peace-o.png";
$fa-var-hand-pointer-o: "images/fa/hand-pointer-o.png";
$fa-var-hand-rock-o: "images/fa/hand-rock-o.png";
$fa-var-hand-scissors-o: "images/fa/hand-scissors-o.png";
$fa-var-hand-spock-o: "images/fa/hand-spock-o.png";
$fa-var-hand-stop-o: "images/fa/hand-stop-o.png";
$fa-var-hard-of-hearing: "images/fa/hard-of-hearing.png";
$fa-var-hashtag: "images/fa/hashtag.png";
$fa-var-hdd-o: "images/fa/hdd-o.png";
$fa-var-header: "images/fa/header.png";
$fa-var-headphones: "images/fa/headphones.png";
$fa-var-heart: "images/fa/heart.png";
$fa-var-heart-o: "images/fa/heart-o.png";
$fa-var-heartbeat: "images/fa/heartbeat.png";
$fa-var-history: "images/fa/history.png";
$fa-var-home: "images/fa/home.png";
$fa-var-hospital-o: "images/fa/hospital-o.png";
$fa-var-hotel: "images/fa/hotel.png";
$fa-var-hourglass: "images/fa/hourglass.png";
$fa-var-hourglass-1: "images/fa/hourglass-1.png";
$fa-var-hourglass-2: "images/fa/hourglass-2.png";
$fa-var-hourglass-3: "images/fa/hourglass-3.png";
$fa-var-hourglass-end: "images/fa/hourglass-end.png";
$fa-var-hourglass-half: "images/fa/hourglass-half.png";
$fa-var-hourglass-o: "images/fa/hourglass-o.png";
$fa-var-hourglass-start: "images/fa/hourglass-start.png";
$fa-var-houzz: "images/fa/houzz.png";
$fa-var-html5: "images/fa/html5.png";
$fa-var-i-cursor: "images/fa/i-cursor.png";
$fa-var-ils: "images/fa/ils.png";
$fa-var-image: "images/fa/image.png";
$fa-var-inbox: "images/fa/inbox.png";
$fa-var-indent: "images/fa/indent.png";
$fa-var-industry: "images/fa/industry.png";
$fa-var-info: "images/fa/info.png";
$fa-var-info-circle: "images/fa/info-circle.png";
$fa-var-inr: "images/fa/inr.png";
$fa-var-instagram: "images/fa/instagram.png";
$fa-var-institution: "images/fa/institution.png";
$fa-var-internet-explorer: "images/fa/internet-explorer.png";
$fa-var-intersex: "images/fa/intersex.png";
$fa-var-ioxhost: "images/fa/ioxhost.png";
$fa-var-italic: "images/fa/italic.png";
$fa-var-joomla: "images/fa/joomla.png";
$fa-var-jpy: "images/fa/jpy.png";
$fa-var-jsfiddle: "images/fa/jsfiddle.png";
$fa-var-key: "images/fa/key.png";
$fa-var-keyboard-o: "images/fa/keyboard-o.png";
$fa-var-krw: "images/fa/krw.png";
$fa-var-language: "images/fa/language.png";
$fa-var-laptop: "images/fa/laptop.png";
$fa-var-lastfm: "images/fa/lastfm.png";
$fa-var-lastfm-square: "images/fa/lastfm-square.png";
$fa-var-leaf: "images/fa/leaf.png";
$fa-var-leanpub: "images/fa/leanpub.png";
$fa-var-legal: "images/fa/legal.png";
$fa-var-lemon-o: "images/fa/lemon-o.png";
$fa-var-level-down: "images/fa/level-down.png";
$fa-var-level-up: "images/fa/level-up.png";
$fa-var-life-bouy: "images/fa/life-bouy.png";
$fa-var-life-buoy: "images/fa/life-buoy.png";
$fa-var-life-ring: "images/fa/life-ring.png";
$fa-var-life-saver: "images/fa/life-saver.png";
$fa-var-lightbulb-o: "images/fa/lightbulb-o.png";
$fa-var-line-chart: "images/fa/line-chart.png";
$fa-var-link: "images/fa/link.png";
$fa-var-linkedin: "images/fa/linkedin.png";
$fa-var-linkedin-square: "images/fa/linkedin-square.png";
$fa-var-linux: "images/fa/linux.png";
$fa-var-list: "images/fa/list.png";
$fa-var-list-alt: "images/fa/list-alt.png";
$fa-var-list-ol: "images/fa/list-ol.png";
$fa-var-list-ul: "images/fa/list-ul.png";
$fa-var-location-arrow: "images/fa/location-arrow.png";
$fa-var-lock: "images/fa/lock.png";
$fa-var-long-arrow-down: "images/fa/long-arrow-down.png";
$fa-var-long-arrow-left: "images/fa/long-arrow-left.png";
$fa-var-long-arrow-right: "images/fa/long-arrow-right.png";
$fa-var-long-arrow-up: "images/fa/long-arrow-up.png";
$fa-var-low-vision: "images/fa/low-vision.png";
$fa-var-magic: "images/fa/magic.png";
$fa-var-magnet: "images/fa/magnet.png";
$fa-var-mail-forward: "images/fa/mail-forward.png";
$fa-var-mail-reply: "images/fa/mail-reply.png";
$fa-var-mail-reply-all: "images/fa/mail-reply-all.png";
$fa-var-male: "images/fa/male.png";
$fa-var-map: "images/fa/map.png";
$fa-var-map-marker: "images/fa/map-marker.png";
$fa-var-map-o: "images/fa/map-o.png";
$fa-var-map-pin: "images/fa/map-pin.png";
$fa-var-map-signs: "images/fa/map-signs.png";
$fa-var-mars: "images/fa/mars.png";
$fa-var-mars-double: "images/fa/mars-double.png";
$fa-var-mars-stroke: "images/fa/mars-stroke.png";
$fa-var-mars-stroke-h: "images/fa/mars-stroke-h.png";
$fa-var-mars-stroke-v: "images/fa/mars-stroke-v.png";
$fa-var-maxcdn: "images/fa/maxcdn.png";
$fa-var-meanpath: "images/fa/meanpath.png";
$fa-var-medium: "images/fa/medium.png";
$fa-var-medkit: "images/fa/medkit.png";
$fa-var-meh-o: "images/fa/meh-o.png";
$fa-var-mercury: "images/fa/mercury.png";
$fa-var-microphone: "images/fa/microphone.png";
$fa-var-microphone-slash: "images/fa/microphone-slash.png";
$fa-var-minus: "images/fa/minus.png";
$fa-var-minus-circle: "images/fa/minus-circle.png";
$fa-var-minus-square: "images/fa/minus-square.png";
$fa-var-minus-square-o: "images/fa/minus-square-o.png";
$fa-var-mixcloud: "images/fa/mixcloud.png";
$fa-var-mobile: "images/fa/mobile.png";
$fa-var-mobile-phone: "images/fa/mobile-phone.png";
$fa-var-modx: "images/fa/modx.png";
$fa-var-money: "images/fa/money.png";
$fa-var-moon-o: "images/fa/moon-o.png";
$fa-var-mortar-board: "images/fa/mortar-board.png";
$fa-var-motorcycle: "images/fa/motorcycle.png";
$fa-var-mouse-pointer: "images/fa/mouse-pointer.png";
$fa-var-music: "images/fa/music.png";
$fa-var-navicon: "images/fa/navicon.png";
$fa-var-neuter: "images/fa/neuter.png";
$fa-var-newspaper-o: "images/fa/newspaper-o.png";
$fa-var-object-group: "images/fa/object-group.png";
$fa-var-object-ungroup: "images/fa/object-ungroup.png";
$fa-var-odnoklassniki: "images/fa/odnoklassniki.png";
$fa-var-odnoklassniki-square: "images/fa/odnoklassniki-square.png";
$fa-var-opencart: "images/fa/opencart.png";
$fa-var-openid: "images/fa/openid.png";
$fa-var-opera: "images/fa/opera.png";
$fa-var-optin-monster: "images/fa/optin-monster.png";
$fa-var-outdent: "images/fa/outdent.png";
$fa-var-pagelines: "images/fa/pagelines.png";
$fa-var-paint-brush: "images/fa/paint-brush.png";
$fa-var-paper-plane: "images/fa/paper-plane.png";
$fa-var-paper-plane-o: "images/fa/paper-plane-o.png";
$fa-var-paperclip: "images/fa/paperclip.png";
$fa-var-paragraph: "images/fa/paragraph.png";
$fa-var-paste: "images/fa/paste.png";
$fa-var-pause: "images/fa/pause.png";
$fa-var-pause-circle: "images/fa/pause-circle.png";
$fa-var-pause-circle-o: "images/fa/pause-circle-o.png";
$fa-var-paw: "images/fa/paw.png";
$fa-var-paypal: "images/fa/paypal.png";
$fa-var-pencil: "images/fa/pencil.png";
$fa-var-pencil-square: "images/fa/pencil-square.png";
$fa-var-pencil-square-o: "images/fa/pencil-square-o.png";
$fa-var-percent: "images/fa/percent.png";
$fa-var-phone: "images/fa/phone.png";
$fa-var-phone-square: "images/fa/phone-square.png";
$fa-var-photo: "images/fa/photo.png";
$fa-var-picture-o: "images/fa/picture-o.png";
$fa-var-pie-chart: "images/fa/pie-chart.png";
$fa-var-pied-piper: "images/fa/pied-piper.png";
$fa-var-pied-piper-alt: "images/fa/pied-piper-alt.png";
$fa-var-pied-piper-pp: "images/fa/pied-piper-pp.png";
$fa-var-pinterest: "images/fa/pinterest.png";
$fa-var-pinterest-p: "images/fa/pinterest-p.png";
$fa-var-pinterest-square: "images/fa/pinterest-square.png";
$fa-var-plane: "images/fa/plane.png";
$fa-var-play: "images/fa/play.png";
$fa-var-play-circle: "images/fa/play-circle.png";
$fa-var-play-circle-o: "images/fa/play-circle-o.png";
$fa-var-plug: "images/fa/plug.png";
$fa-var-plus: "images/fa/plus.png";
$fa-var-plus-circle: "images/fa/plus-circle.png";
$fa-var-plus-square: "images/fa/plus-square.png";
$fa-var-plus-square-o: "images/fa/plus-square-o.png";
$fa-var-power-off: "images/fa/power-off.png";
$fa-var-print: "images/fa/print.png";
$fa-var-product-hunt: "images/fa/product-hunt.png";
$fa-var-puzzle-piece: "images/fa/puzzle-piece.png";
$fa-var-qq: "images/fa/qq.png";
$fa-var-qrcode: "images/fa/qrcode.png";
$fa-var-question: "images/fa/question.png";
$fa-var-question-circle: "images/fa/question-circle.png";
$fa-var-question-circle-o: "images/fa/question-circle-o.png";
$fa-var-quote-left: "images/fa/quote-left.png";
$fa-var-quote-right: "images/fa/quote-right.png";
$fa-var-ra: "images/fa/ra.png";
$fa-var-random: "images/fa/random.png";
$fa-var-rebel: "images/fa/rebel.png";
$fa-var-recycle: "images/fa/recycle.png";
$fa-var-reddit: "images/fa/reddit.png";
$fa-var-reddit-alien: "images/fa/reddit-alien.png";
$fa-var-reddit-square: "images/fa/reddit-square.png";
$fa-var-refresh: "images/fa/refresh.png";
$fa-var-registered: "images/fa/registered.png";
$fa-var-remove: "images/fa/remove.png";
$fa-var-renren: "images/fa/renren.png";
$fa-var-reorder: "images/fa/reorder.png";
$fa-var-repeat: "images/fa/repeat.png";
$fa-var-reply: "images/fa/reply.png";
$fa-var-reply-all: "images/fa/reply-all.png";
$fa-var-resistance: "images/fa/resistance.png";
$fa-var-retweet: "images/fa/retweet.png";
$fa-var-rmb: "images/fa/rmb.png";
$fa-var-road: "images/fa/road.png";
$fa-var-rocket: "images/fa/rocket.png";
$fa-var-rotate-left: "images/fa/rotate-left.png";
$fa-var-rotate-right: "images/fa/rotate-right.png";
$fa-var-rouble: "images/fa/rouble.png";
$fa-var-rss: "images/fa/rss.png";
$fa-var-rss-square: "images/fa/rss-square.png";
$fa-var-rub: "images/fa/rub.png";
$fa-var-ruble: "images/fa/ruble.png";
$fa-var-rupee: "images/fa/rupee.png";
$fa-var-safari: "images/fa/safari.png";
$fa-var-save: "images/fa/save.png";
$fa-var-scissors: "images/fa/scissors.png";
$fa-var-scribd: "images/fa/scribd.png";
$fa-var-search: "images/fa/search.png";
$fa-var-search-minus: "images/fa/search-minus.png";
$fa-var-search-plus: "images/fa/search-plus.png";
$fa-var-sellsy: "images/fa/sellsy.png";
$fa-var-send: "images/fa/send.png";
$fa-var-send-o: "images/fa/send-o.png";
$fa-var-server: "images/fa/server.png";
$fa-var-share: "images/fa/share.png";
$fa-var-share-alt: "images/fa/share-alt.png";
$fa-var-share-alt-square: "images/fa/share-alt-square.png";
$fa-var-share-square: "images/fa/share-square.png";
$fa-var-share-square-o: "images/fa/share-square-o.png";
$fa-var-shekel: "images/fa/shekel.png";
$fa-var-sheqel: "images/fa/sheqel.png";
$fa-var-shield: "images/fa/shield.png";
$fa-var-ship: "images/fa/ship.png";
$fa-var-shirtsinbulk: "images/fa/shirtsinbulk.png";
$fa-var-shopping-bag: "images/fa/shopping-bag.png";
$fa-var-shopping-basket: "images/fa/shopping-basket.png";
$fa-var-shopping-cart: "images/fa/shopping-cart.png";
$fa-var-sign-in: "images/fa/sign-in.png";
$fa-var-sign-language: "images/fa/sign-language.png";
$fa-var-sign-out: "images/fa/sign-out.png";
$fa-var-signal: "images/fa/signal.png";
$fa-var-signing: "images/fa/signing.png";
$fa-var-simplybuilt: "images/fa/simplybuilt.png";
$fa-var-sitemap: "images/fa/sitemap.png";
$fa-var-skyatlas: "images/fa/skyatlas.png";
$fa-var-skype: "images/fa/skype.png";
$fa-var-slack: "images/fa/slack.png";
$fa-var-sliders: "images/fa/sliders.png";
$fa-var-slideshare: "images/fa/slideshare.png";
$fa-var-smile-o: "images/fa/smile-o.png";
$fa-var-snapchat: "images/fa/snapchat.png";
$fa-var-snapchat-ghost: "images/fa/snapchat-ghost.png";
$fa-var-snapchat-square: "images/fa/snapchat-square.png";
$fa-var-soccer-ball-o: "images/fa/soccer-ball-o.png";
$fa-var-sort: "images/fa/sort.png";
$fa-var-sort-alpha-asc: "images/fa/sort-alpha-asc.png";
$fa-var-sort-alpha-desc: "images/fa/sort-alpha-desc.png";
$fa-var-sort-amount-asc: "images/fa/sort-amount-asc.png";
$fa-var-sort-amount-desc: "images/fa/sort-amount-desc.png";
$fa-var-sort-asc: "images/fa/sort-asc.png";
$fa-var-sort-desc: "images/fa/sort-desc.png";
$fa-var-sort-down: "images/fa/sort-down.png";
$fa-var-sort-numeric-asc: "images/fa/sort-numeric-asc.png";
$fa-var-sort-numeric-desc: "images/fa/sort-numeric-desc.png";
$fa-var-sort-up: "images/fa/sort-up.png";
$fa-var-soundcloud: "images/fa/soundcloud.png";
$fa-var-space-shuttle: "images/fa/space-shuttle.png";
$fa-var-spinner: "images/fa/spinner.png";
$fa-var-spoon: "images/fa/spoon.png";
$fa-var-spotify: "images/fa/spotify.png";
$fa-var-square: "images/fa/square.png";
$fa-var-square-o: "images/fa/square-o.png";
$fa-var-stack-exchange: "images/fa/stack-exchange.png";
$fa-var-stack-overflow: "images/fa/stack-overflow.png";
$fa-var-star: "images/fa/star.png";
$fa-var-star-half: "images/fa/star-half.png";
$fa-var-star-half-empty: "images/fa/star-half-empty.png";
$fa-var-star-half-full: "images/fa/star-half-full.png";
$fa-var-star-half-o: "images/fa/star-half-o.png";
$fa-var-star-o: "images/fa/star-o.png";
$fa-var-steam: "images/fa/steam.png";
$fa-var-steam-square: "images/fa/steam-square.png";
$fa-var-step-backward: "images/fa/step-backward.png";
$fa-var-step-forward: "images/fa/step-forward.png";
$fa-var-stethoscope: "images/fa/stethoscope.png";
$fa-var-sticky-note: "images/fa/sticky-note.png";
$fa-var-sticky-note-o: "images/fa/sticky-note-o.png";
$fa-var-stop: "images/fa/stop.png";
$fa-var-stop-circle: "images/fa/stop-circle.png";
$fa-var-stop-circle-o: "images/fa/stop-circle-o.png";
$fa-var-street-view: "images/fa/street-view.png";
$fa-var-strikethrough: "images/fa/strikethrough.png";
$fa-var-stumbleupon: "images/fa/stumbleupon.png";
$fa-var-stumbleupon-circle: "images/fa/stumbleupon-circle.png";
$fa-var-subscript: "images/fa/subscript.png";
$fa-var-subway: "images/fa/subway.png";
$fa-var-suitcase: "images/fa/suitcase.png";
$fa-var-sun-o: "images/fa/sun-o.png";
$fa-var-superscript: "images/fa/superscript.png";
$fa-var-support: "images/fa/support.png";
$fa-var-table: "images/fa/table.png";
$fa-var-tablet: "images/fa/tablet.png";
$fa-var-tachometer: "images/fa/tachometer.png";
$fa-var-tag: "images/fa/tag.png";
$fa-var-tags: "images/fa/tags.png";
$fa-var-tasks: "images/fa/tasks.png";
$fa-var-taxi: "images/fa/taxi.png";
$fa-var-television: "images/fa/television.png";
$fa-var-tencent-weibo: "images/fa/tencent-weibo.png";
$fa-var-terminal: "images/fa/terminal.png";
$fa-var-text-height: "images/fa/text-height.png";
$fa-var-text-width: "images/fa/text-width.png";
$fa-var-th: "images/fa/th.png";
$fa-var-th-large: "images/fa/th-large.png";
$fa-var-th-list: "images/fa/th-list.png";
$fa-var-themeisle: "images/fa/themeisle.png";
$fa-var-thumb-tack: "images/fa/thumb-tack.png";
$fa-var-thumbs-down: "images/fa/thumbs-down.png";
$fa-var-thumbs-o-down: "images/fa/thumbs-o-down.png";
$fa-var-thumbs-o-up: "images/fa/thumbs-o-up.png";
$fa-var-thumbs-up: "images/fa/thumbs-up.png";
$fa-var-ticket: "images/fa/ticket.png";
$fa-var-times: "images/fa/times.png";
$fa-var-times-circle: "images/fa/times-circle.png";
$fa-var-times-circle-o: "images/fa/times-circle-o.png";
$fa-var-tint: "images/fa/tint.png";
$fa-var-toggle-down: "images/fa/toggle-down.png";
$fa-var-toggle-left: "images/fa/toggle-left.png";
$fa-var-toggle-off: "images/fa/toggle-off.png";
$fa-var-toggle-on: "images/fa/toggle-on.png";
$fa-var-toggle-right: "images/fa/toggle-right.png";
$fa-var-toggle-up: "images/fa/toggle-up.png";
$fa-var-trademark: "images/fa/trademark.png";
$fa-var-train: "images/fa/train.png";
$fa-var-transgender: "images/fa/transgender.png";
$fa-var-transgender-alt: "images/fa/transgender-alt.png";
$fa-var-trash: "images/fa/trash.png";
$fa-var-trash-o: "images/fa/trash-o.png";
$fa-var-tree: "images/fa/tree.png";
$fa-var-trello: "images/fa/trello.png";
$fa-var-tripadvisor: "images/fa/tripadvisor.png";
$fa-var-trophy: "images/fa/trophy.png";
$fa-var-truck: "images/fa/truck.png";
$fa-var-try: "images/fa/try.png";
$fa-var-tty: "images/fa/tty.png";
$fa-var-tumblr: "images/fa/tumblr.png";
$fa-var-tumblr-square: "images/fa/tumblr-square.png";
$fa-var-turkish-lira: "images/fa/turkish-lira.png";
$fa-var-tv: "images/fa/tv.png";
$fa-var-twitch: "images/fa/twitch.png";
$fa-var-twitter: "images/fa/twitter.png";
$fa-var-twitter-square: "images/fa/twitter-square.png";
$fa-var-umbrella: "images/fa/umbrella.png";
$fa-var-underline: "images/fa/underline.png";
$fa-var-undo: "images/fa/undo.png";
$fa-var-universal-access: "images/fa/universal-access.png";
$fa-var-university: "images/fa/university.png";
$fa-var-unlink: "images/fa/unlink.png";
$fa-var-unlock: "images/fa/unlock.png";
$fa-var-unlock-alt: "images/fa/unlock-alt.png";
$fa-var-unsorted: "images/fa/unsorted.png";
$fa-var-upload: "images/fa/upload.png";
$fa-var-usb: "images/fa/usb.png";
$fa-var-usd: "images/fa/usd.png";
$fa-var-user: "images/fa/user.png";
$fa-var-user-md: "images/fa/user-md.png";
$fa-var-user-plus: "images/fa/user-plus.png";
$fa-var-user-secret: "images/fa/user-secret.png";
$fa-var-user-times: "images/fa/user-times.png";
$fa-var-users: "images/fa/users.png";
$fa-var-venus: "images/fa/venus.png";
$fa-var-venus-double: "images/fa/venus-double.png";
$fa-var-venus-mars: "images/fa/venus-mars.png";
$fa-var-viacoin: "images/fa/viacoin.png";
$fa-var-viadeo: "images/fa/viadeo.png";
$fa-var-viadeo-square: "images/fa/viadeo-square.png";
$fa-var-video-camera: "images/fa/video-camera.png";
$fa-var-vimeo: "images/fa/vimeo.png";
$fa-var-vimeo-square: "images/fa/vimeo-square.png";
$fa-var-vine: "images/fa/vine.png";
$fa-var-vk: "images/fa/vk.png";
$fa-var-volume-control-phone: "images/fa/volume-control-phone.png";
$fa-var-volume-down: "images/fa/volume-down.png";
$fa-var-volume-off: "images/fa/volume-off.png";
$fa-var-volume-up: "images/fa/volume-up.png";
$fa-var-warning: "images/fa/warning.png";
$fa-var-wechat: "images/fa/wechat.png";
$fa-var-weibo: "images/fa/weibo.png";
$fa-var-weixin: "images/fa/weixin.png";
$fa-var-whatsapp: "images/fa/whatsapp.png";
$fa-var-wheelchair: "images/fa/wheelchair.png";
$fa-var-wheelchair-alt: "images/fa/wheelchair-alt.png";
$fa-var-wifi: "images/fa/wifi.png";
$fa-var-wikipedia-w: "images/fa/wikipedia-w.png";
$fa-var-windows: "images/fa/windows.png";
$fa-var-won: "images/fa/won.png";
$fa-var-wordpress: "images/fa/wordpress.png";
$fa-var-wpbeginner: "images/fa/wpbeginner.png";
$fa-var-wpforms: "images/fa/wpforms.png";
$fa-var-wrench: "images/fa/wrench.png";
$fa-var-xing: "images/fa/xing.png";
$fa-var-xing-square: "images/fa/xing-square.png";
$fa-var-y-combinator: "images/fa/y-combinator.png";
$fa-var-y-combinator-square: "images/fa/y-combinator-square.png";
$fa-var-yahoo: "images/fa/yahoo.png";
$fa-var-yc: "images/fa/yc.png";
$fa-var-yc-square: "images/fa/yc-square.png";
$fa-var-yelp: "images/fa/yelp.png";
$fa-var-yen: "images/fa/yen.png";
$fa-var-yoast: "images/fa/yoast.png";
$fa-var-youtube: "images/fa/youtube.png";
$fa-var-youtube-play: "images/fa/youtube-play.png";
$fa-var-youtube-square: "images/fa/youtube-square.png";
